<%= link_to '' , homes_path  ,:class =>'  glyphicon glyphicon-circle-arrow-left'%>
<table class="table table-striped" >
  <tr>
    <th>EventLogo</th>
    <th>Title</th>
    <th>Location</th>
    <th>StartEvent</th>
    <th>EndEvent</th>
    <th>EventDescription</th>
    <th>OrganizerName</th>
    <th>OrganizerDescription</th>
    <th>EventType</th>
    <th>EventTopic</th>
  </tr>
  <%= render "events/eventindex"%>
</table>