<div class="owl-carousel">
<% @albums.each do |album| %>
  <div>
   <%= image_tag album.album_photo.url(:thumb) , :id => 'albumhomephotoid' %> 
  </div>
<% end %>
</div>
<script>
$(document).ready(function(){
  $('.owl-carousel').owlCarousel();
});
</script>