// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#albumdiv{
	margin-left: 430px;
	margin-top: 70px;
}
#albumphotoid{
	border-radius: 60px;
	width: 250px;
	height: 250px;
}
