// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#eventdivnew{
	margin-left: 417px;
}
#event_start_event_2i{
	width: 63px;
}
#event_end_event_2i{
	width: 63px;
}
#event_eventtype_id{
	width: 179px;
}
#event_eventtopic_id{
	width: 179px;
}
