// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sendmessageid{
	margin-left: 387px;
}
#message_email{
	width: 350px;
}
#message_subject{
	width: 350px;
}
#message_messages{
	width: 350px;
}
#deletemessagecheckbox{
	background-color: #B0E0E6;
}